@import "tailwindcss";
/* #services:has(.service:not(:hover)) {
  > #scope {
    transform: scale(0);
    transition: ease-in-out 100ms;
  }
} */
.service:hover {
  #scope {
    transform: rotate(10);
    width: 28rem;
    height: 18rem;
    transition: ease 300ms;
    background-color: var(--cream);
  }
}
/* .service:hover {
  #cursor {
    display: none;
  }
} */
#services-container:has(.service:hover) {
  #cursor {
    display: none;
  }
}
.scope-bg {
  background-size: cover;
  background-position: center;
}

#interior {
  &:hover {
    .scope-bg {
      display: block;
      background-image: var(--interior);
      rotate: 5deg;
      &::after {
        content: "Spaces that feel personal before designed.";
        position: absolute;
        font-size: 1rem;
        font-weight: 400;
        font-family: var(--font-body);
        bottom: -4rem;
        left: 0;
      }
    }
  }
}
#exterior {
  &:hover {
    .scope-bg {
      display: block;
      background-image: var(--exterior);
      rotate: -15deg;

      &::after {
        content: "Form that converses with its environment.";
        position: absolute;
        font-size: 1rem;
        font-weight: 400;
        font-family: var(--font-body);
        bottom: -4rem;
        left: 0;
      }
    }
  }
}
#consultation {
  &:hover {
    .scope-bg {
      display: block;
      background-image: var(--consultation);
      rotate: 15deg;
      &::after {
        content: "Clarity at every stage of the process.";
        position: absolute;
        font-size: 1rem;
        text-overflow: clip;
        font-weight: 400;
        font-family: var(--font-body);
        bottom: -4rem;
        left: 0;
      }
    }
  }
}
#architecture {
  &:hover {
    .scope-bg {
      display: block;
      background-image: var(--architecture);
      rotate: 15deg;
      &::after {
        content: "Structures designed to outlast trends.";
        position: absolute;
        font-size: 1rem;
        font-weight: 400;
        font-family: var(--font-body);
        top: -4rem;
        left: 0;
      }
    }
  }
}
